<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Update Passenger</title>
</head>
<body class="text-center">
    <div class="container">
        <div class="user-info-edit">
            <p class="form-signin"><a href="/flight">Go home?</a></p>
            <form class="form-signin" action="/users/edit/<%=user._id%>?_method=PUT" method="POST">
                <img class="mb-4" src="/img/flight.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Update info</h1>
                Name: <input type="text" class="form-control" name="name" placeholder="<%=user.name%>" required autofocus>
                Date of Birth: <input type="date" class="form-control" name="dob" placeholder="<%=user.dob%>" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Update">Update</button>
            </form>

            <form class="form-signin" action="/users/delete/<%=user._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete account?"/>
            </form>
            <p class="form-signin"><a href="/session/logout">log out?</a></p>


        </div>
    </div>
</body>
</html>