<!--a !logged in user will see this-->
<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Flight Board</title>
</head>
<body>
<%- include ('../partials/header.ejs') %>
    <div class="table-container">
        <table class="table text-center">
            <tr>
                <th>Flight #</th>
                <th>Est Arrival</th>
                <th>Origin</th>
                <th>Dest</th>
            </tr>
            <% for (const item in data){ %>
                <tr data-link='<%=data[item].ident%>'>
                    <td><%=data[item].ident %></td>
                    <td><%=data[item].estimatedarrivaltime %></td>
                    <td><%=data[item].origin %></td>
                    <td><%=data[item].destination %></td>
                </tr>
            <% }%>
        </table>
    </div>
</body>
</html>