<!--a !logged in user will see this-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Board</title>
</head>
<body>
<h1>Welcome</h1>
<li>
    <a href="/session/new">Log In</a>
</li>


<table style="width:100%">
    <tr>
        <th>Flight #</th>
        <th>Est Arrival</th>
        <th>Origin</th>
        <th>Dest</th>
    </tr>
    <% for (const item in data){ %>
    <tr>
        <th><a href='/show/<%=data[item].ident %>'><%=data[item].ident %></a></th>
        <th><%=data[item].estimatedarrivaltime %></th>
        <th><%=data[item].origin %></th>
        <th><%=data[item].destination %></th>
    </tr>
    <% }%>
</table>
</body>
</html>