<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Flight Board</title>
</head>
<body>
<%- include ('../partials/header.ejs') %>
    <div class="container">
        <div class="">
            <div class="col-md-4 mx-auto">
                <div class="card mb-4 shadow-sm"></div>
                    <img src="/img/flight.svg">
                    <div class="card-body m-1 p-1">
                        <p><%=flight.ident%></p>
                        <p>Origin: <%=flight.origin%></p>
                        <p>Scheduled Arrival: <%=flight.arrival%></p>
                        <%if (flight.arrival == undefined){%>
                        <p>Altitude: <%=flight.altitude%></p>
                        <p>Ground speed: <%=flight.groundspeed%></p>
                        <%}%>
                        <img src="<%=gmap%>">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>